body {
    background-color: #070000;
}

opdi-app {
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
}

opdi-bar {
    position: fixed;
    top: 2.5rem;
    width: 95%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    left: 1rem;
    padding-left: 0px;
    text-align: center;
    line-break: 25px;
}

opdi-bar>bar-side {
    display: inline-block;
    padding: 5px 20px;
    float: left;
    left: -10rem;
    border-radius: 25px;
    margin-left: 5px;
    background-color: #1C2628;
}

opdi-bar>bar-side:hover {
    background-color: #2779BF;
}

opdi-bar>bar-side>a {
    color: white;
    text-decoration: none;
}

side-map {
    position: absolute;
    top: 20%;
    width: 95%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    left: 1rem;
    padding-left: 0px;
    text-align: center;
}

side-map>map-bar {
    display: inline-block;
    padding: 5px 20px;
    float: left;
    left: -10rem;
    border-radius: 25px;
    margin-left: 5px;
    background-color: rgb(26, 81, 101);
    color: antiquewhite;
}

side-map>map-bar:hover {
    background-color: #2779BF;
}

side-map>map-bar>a {
    color: white;
    text-decoration: none;
}

@media only screen and (device-width: 768px) {
    side-map {
        position: absolute;
        top: 11%;
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        left: 1rem;
        padding-left: 0px;
        text-align: center;
    }
    side-map>map-bar {
        display: inline-block;
        padding: 5px 20px;
        float: left;
        left: -10rem;
        border-radius: 25px;
        margin-left: 5px;
        background-color: rgb(26, 81, 101);
        color: antiquewhite;
    }
    side-map>map-bar:hover {
        background-color: #2779BF;
    }
    side-map>map-bar>a {
        color: white;
        text-decoration: none;
    }
}

@media only screen and (min-device-width: 1024px) {
    side-map {
        position: absolute;
        top: 13.5%;
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        left: 1rem;
        padding-left: 0px;
        text-align: center;
    }
    side-map>map-bar {
        display: inline-block;
        padding: 5px 20px;
        float: left;
        left: -10rem;
        border-radius: 25px;
        margin-left: 5px;
        background-color: rgb(26, 81, 101);
        color: antiquewhite;
    }
    side-map>map-bar:hover {
        background-color: #2779BF;
    }
    side-map>map-bar>a {
        color: white;
        text-decoration: none;
    }
}

opdi-header {
    position: fixed;
    display: flex;
    width: 100%;
    background-color: #355169;
    border-radius: 25px 25px 0 0;
    bottom: 0;
    height: 2rem;
    left: 0;
}

opdi-side {
    position: fixed;
    display: flex;
    width: 100%;
    background: linear-gradient(to bottom, #272634, #1C2628);
    border-radius: 0 0 25px 25px;
    top: 0;
    height: 2rem;
    left: 0;
}

opdi-header-home {
    display: flex;
    position: relative;
    width: 100%;
}

opdi-header-info {
    display: flex;
    position: relative;
    width: 100%;
}

opdi-layer {
    position: relative;
    top: 2.5rem;
    background-color: #355169;
    display: flex;
    width: 100%;
    height: 25vh;
    border-radius: 25px;
}

opdi-news {
    position: relative;
    left: 2%;
    top: 5%;
    color: aliceblue;
}

#chat {
    position: relative;
}

opdi-maps-title {
    position: relative;
    top: 1rem;
    float: right;
    margin: 0;
    color: white;
}

#map {
    position: relative;
    top: 2.5rem;
    width: 100%;
    height: 55vh;
}

#chat-time {
    position: relative;
    left: 3rem;
    top: 0.5rem;
    color: aliceblue;
}

.all-home {
    position: relative;
    left: 50%;
    top: 5%;
}

.img-profile {
    position: relative;
    left: 50%;
    top: 5%;
}

.all-apps {
    position: relative;
    left: 0;
    top: 20%;
    align-items: center;
    align-content: center;
    align-self: center;
}

.butapp {
    position: relative;
    left: 25%;
    top: 0;
    width: 50%;
    background-color: transparent;
    align-items: center;
    border: none;
}
