:root {
    --ico-left: 2.5rem;
    --left-des: 10rem;
}

@media only screen and (device-width: 320px) {
    soal-header {
        position: fixed;
        display: flex;
        flex-flow: nowrap;
        width: 100%;
        height: 45px;
        bottom: 0;
        left: 0;
        background-color: #1d1d1d;
        border-radius: 25px 25px 0px 0px;
    }
    soal-home {
        position: relative;
        display: flex;
        width: 100%;
        left: var(--ico-left);
        top: 0.7rem;
    }
    soal-home svg {
        width: 100px;
        fill: white;
    }
    soal-item {
        display: flex;
        position: relative;
        width: 100%;
        left: var(--ico-left);
        top: 0.7rem;
    }
    soal-item svg {
        width: 100px;
        fill: white;
    }
}

@media only screen and (device-width: 375px) {
    soal-header {
        position: fixed;
        display: flex;
        flex-flow: nowrap;
        width: 100%;
        height: 45px;
        bottom: 0;
        left: 0;
        background-color: #1d1d1d;
        border-radius: 25px 25px 0px 0px;
    }
    soal-home {
        position: relative;
        display: flex;
        width: 100%;
        left: var(--ico-left);
        top: 0.7rem;
    }
    soal-home svg {
        width: 100px;
        fill: white;
    }
    soal-item {
        display: flex;
        position: relative;
        width: 100%;
        left: var(--ico-left);
        top: 0.7rem;
    }
    soal-item svg {
        width: 100px;
        fill: white;
    }
}

@media only screen and (device-width: 425px) {
    soal-header {
        position: fixed;
        display: flex;
        flex-flow: nowrap;
        width: 100%;
        height: 45px;
        bottom: 0;
        left: 0;
        background-color: #1d1d1d;
        border-radius: 25px 25px 0px 0px;
    }
    soal-home {
        position: relative;
        display: flex;
        width: 100%;
        left: var(--ico-left);
        top: 0.7rem;
    }
    soal-home svg {
        width: 100px;
        fill: white;
    }
    soal-item {
        display: flex;
        position: relative;
        width: 100%;
        left: var(--ico-left);
        top: 0.7rem;
    }
    soal-item svg {
        width: 100px;
        fill: white;
    }
}

@media only screen and (device-width: 768px) {
    soal-header {
        position: fixed;
        display: flex;
        flex-flow: nowrap;
        width: 100%;
        height: 45px;
        bottom: 0;
        left: 0;
        background-color: #1d1d1d;
        border-radius: 25px 25px 0px 0px;
    }
    soal-home {
        position: relative;
        display: flex;
        width: 100%;
        left: var(--left-des);
        top: 0.7rem;
    }
    soal-home svg {
        width: 100px;
        fill: white;
    }
    soal-item {
        display: flex;
        position: relative;
        width: 100%;
        left: var(--left-des);
        top: 0.7rem;
    }
    soal-item svg {
        width: 100px;
        fill: white;
    }
}

@media only screen and (device-width: 1024px) {
    soal-header {
        position: fixed;
        display: flex;
        flex-flow: nowrap;
        width: 100%;
        height: 45px;
        top: 0;
        left: 0;
        background-color: #1d1d1d;
        border-radius: 0px 0px 25px 25px;
    }
    soal-home {
        position: absolute;
        display: flex;
        align-items: center;
        left: 25%;
        top: 25%;
    }
    soal-home svg {
        width: 100px;
        fill: white;
        border-bottom: 2px solid orange;
    }
    soal-item {
        position: absolute;
        display: flex;
        align-items: center;
        right: 26%;
        top: 25%;
    }
    soal-item svg {
        width: 100px;
        fill: white;
    }
    soal-item svg:hover {
        width: 100px;
        fill: white;
        border-bottom: 2px solid orange;
    }
    soal-item svg::after {
        width: 100px;
        fill: white;
        border-bottom: 2px solid white;
    }
}

@media only screen and (device-width: 1280px) {
    soal-header {
        position: fixed;
        display: flex;
        flex-flow: nowrap;
        width: 100%;
        height: 45px;
        top: 0;
        left: 0;
        background-color: #1d1d1d;
        border-radius: 0px 0px 25px 25px;
    }
    soal-home {
        position: absolute;
        display: flex;
        align-items: center;
        left: 25%;
        top: 25%;
    }
    soal-home svg {
        width: 100px;
        fill: white;
        border-bottom: 2px solid orange;
    }
    soal-item {
        position: absolute;
        display: flex;
        align-items: center;
        right: 26%;
        top: 25%;
    }
    soal-item svg {
        width: 100px;
        fill: white;
    }
    soal-item svg:hover {
        width: 100px;
        fill: white;
        border-bottom: 2px solid orange;
    }
    soal-item svg::after {
        width: 100px;
        fill: white;
        border-bottom: 2px solid white;
    }
}

#myInput-modal {
    position: absolute;
    display: flex;
    border: none;
    top: 1.5rem;
    height: 2.5rem;
    border-radius: 25px;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #11101d;
}

.app-menu-line {
    background-color: #fff;
    border-radius: 2px;
    height: 2px;
    transition: all 500ms ease;
    width: 20px;
}

.app-menu-line:not(:first-child) {
    margin-top: 4px;
}

.header .app-menu-burger {
    padding: 5px 10px 0;
}

.header-top {
    color: #11101d;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    height: 44px;
    padding: 10px;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -ms-flex-align: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.top {
    background-color: #11101d;
}

.top .top-overlay {
    background: #11101d transparent;
    background: rgba(255, 255, 255, 0.6);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    padding: 51px;
}

.top img {
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    border: 4px solid #fac1c3;
    border-radius: 50%;
}

.bottom {
    overflow-y: auto;
}

.bottom .list-item {
    margin: 35px 0;
    padding: 0px 20px;
}

.linkhaf {
    display: inline-block;
    float: right;
}

.bottom::-webkit-scrollbar {
    width: 8px
}

.bottom::-webkit-scrollbar-button,
.bottom::-webkit-scrollbar-corner,
.bottom::-webkit-scrollbar-track {
    background-color: transparent
}

.bottom::-webkit-scrollbar-button {
    background-repeat: no-repeat;
    cursor: pointer
}

.bottom::-webkit-scrollbar-button:vertical {
    background-position: 50%;
    width: 18px;
    height: 18px
}

.bottom::-webkit-scrollbar-button:vertical:increment {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAAUUlEQVQ4T6XLMQ6AMAwEwfz/bXRIfOeQCxckK8iKYgqvfCPJLxgNjAZGA6OB0VjCcV55M/8/jkbDMv+VJbSdccHYvsYFo4HRwGhgNDAaGPdl3LNlBnofQ4+bAAAAAElFTkSuQmCC)
}

.bottom::-webkit-scrollbar-button:vertical:increment:hover {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAAUklEQVQ4T6XLsQ2AMAwF0ey/A1swAnt95MIFyQlyoniFT/4jyS8YDYwGRgOjgdFYwnFeeTP/P45GwzL/lSW0nXHB2L7GBaOB0cBoYDQwGhj3Zdx8sf7rjOGQqwAAAABJRU5ErkJggg==)
}

.bottom::-webkit-scrollbar-button:vertical:decrement {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAAVUlEQVQ4T6XMMQoAIQxEUe9/NrsFrzOSIqDxgzu7xSv8ZGySfsHowOjA6MDowOjAmPozFGpfYQw5vn2CsY5TvQtHoOGq3m+PLzA6MDowOjA6ML6nNgFW+wZ6kTk6FAAAAABJRU5ErkJggg==)
}

.bottom::-webkit-scrollbar-button:vertical:decrement:hover {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAAVklEQVQ4T6XMwQ3AIAwEQfrvgS5SAn0d8sMSmJXIJY95sPLRJP2C0YHRgdGB0YHRgTH1ZyjUvsIYcnz7BGMdp3oXjkDDVb3fHl9gdGB0YHRgdGB8T20CB+X+675uLU0AAAAASUVORK5CYII=)
}

.bottom::-webkit-scrollbar-thumb {
    border-radius: 9px;
    border: 3px solid transparent;
    background-color: #11101d
}

.bottom::-webkit-scrollbar-thumb:vertical {
    min-height: 50px
}

.bottom::-webkit-scrollbar-thumb:hover {
    background-color: #9db4c4
}


/* Menu */

.soal-menu {
    position: fixed;
    left: 0;
    top: 44px;
    width: 0;
    height: 0;
    z-index: 150;
}

.app-menu-container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-transform: translateY(100%);
    transform: translateY(100vh);
    z-index: 170;
}

.app-menu {
    background-color: #ffffff;
    color: #263238;
    position: fixed;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    overflow: hidden;
    width: 100%;
    height: 85%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    will-change: transform;
    z-index: 160;
    pointer-events: auto;
    bottom: 0;
}

.menu--visible .app-menu-container {
    -webkit-transform: none;
    transform: none;
    pointer-events: none;
}

.menu--animatable .app-menu-container {
    transition: all 130ms ease-in;
}

.menu--visible.menu--animatable .app-menu-container {
    transition: all 330ms ease-out;
    display: n;
}

.menu-background {
    content: '';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    will-change: opacity;
    display: none;
    transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
}

.menu--visible .menu-background {
    opacity: 0.5;
    pointer-events: auto;
}

.menu--background-visible .menu-background {
    display: block;
}

.app-menu-open .app-menu {
    -webkit-transform: none;
    transform: none;
    transition: all 300ms ease-out;
}

.menu--background-visible .app-menu-background {
    display: block;
}

.no-transition {
    transition: none !important;
}

.app-menu-background {
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    height: 100%;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.center-content {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.center-content-container {
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

h1 {
    color: #fbcbcd;
    font-size: 28px;
    font-weight: initial;
    letter-spacing: -0.45px;
    margin: 0;
}

h3 {
    font-size: 18px;
    font-weight: initial;
    letter-spacing: 0.8px;
    margin: 0;
}

textarea {
    width: 4rem;
    height: 8rem;
    font-size: 3rem;
}

.grid {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
}

soal-grid>soal-grid {
    padding: 10px;
    background-color: #ccc;
}

soal-grid img {
    position: relative;
    width: 60%;
    left: 25%;
}
